<tr>
	<td><%= link_to 'View',work %></td>
	<td><%= work.user.fname %></td>
	<td><%= link_to work.project.name, work.project %></td>
	<td><%= work.datetimeperformed.strftime("%m/%d/%Y %H:%M") %></td>
	<td><%= work.hours %></td>
</tr>