<h1>All Works</h1>
<p>Here are all work items</p>
<table>
	<tbody>
		<tr>
			<th>View</th>
			<th>User</th>
			<th>Project</th>
			<th>Date/Time</th>
			<th>Hours</th>
		</tr>
		<%= render partial: "work", collection: @works%>
	</tbody>
</table>
<% content_for :aside do %>
	<%= render 'sidebar' %>
<% end %>