<h1><%= @work.datetimeperformed %></h1>

<p>User: <%= @work.user.fname %> <%= @work.user.lname %></p>
<p>Project: <%= @work.project.name %></p>
<p>Hours: <%= @work.hours %></p>

<p><%= link_to 'Edit Work', edit_work_path(@work) %></p>

<% content_for :aside do %>
	<%= render 'sidebar' %>
<% end %>
