<%= form_for(@project) do |f| %>
<%= @project.errors.messages if @project.errors.size > 0 %>
	<table>
		<tr>
			<td>Name :</td>
			<td>
				<%= f.text_field :name %>
				<div class="errors">
					<%= @project.errors.messages[:name].each {|a| puts a}  unless @project.errors.messages[:name].blank? 

					%>
				</div>
			</td>
		</tr>
		<tr>
			<td>Company :</td>
			<td> 
				<%= f.collection_select(:company_id, Company.all, :id, :name,prompt: true) %>
				<div class="errors">
					<%= @project.errors.messages[:company]  if @project.errors.messages[:company] %>
				</div>
			</td>
		</tr>
		<tr>
			<td>Default Rate :</td>
			<td>
				<%= f.text_field :default_rate %>
				<div class="errors">
					<%= @project.errors.messages[:default_rate]  if @project.errors.messages[:default_rate] %>
				</div>
			</td>
		</tr>
		<tr>
			<td>Slug :</td>
			<td>
				<%= f.text_field :slug %>
				<div class="errors">
					<%= @project.errors.messages[:slug]  if @project.errors.messages[:slug] %>
				</div>
			</td>
		</tr>
	</table>
		<%= f.submit @project.new_record? ? "Create" : "Update" %>
<% end %>