<h1>Project <%= @project.name %> </h1>
<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Default Rate</td>
		<td>Company</td>
		<td></td>
	</tr>
	<tr>
		<td><%= @project.id %></td>
		<td><%= @project.name %></td>
		<td><%=@project.default_rate %></td>
		<td><%= @project.company.name %></td>
		<td>
			<%= link_to "Edit",edit_project_path(@project) %>
			<%= link_to "Delete",project_path(@project), method: :delete, data: {confirm: "Are you sure ?"} %>
		</td>
	</tr>
</table>