<h1>Companies</h1>

<p>Here are all of the companies:</p>

<table>
	<tbody>
		<tr>
			<th>Company</th>
		</tr>
		<%= render partial: "company", collection: @companies %>
	</tbody>
</table>
<% content_for :aside do %>
	<%= render 'sidebar' %>
<% end %>