<h1><%= @company.name %></h1>
<table>
	<tr>
		<td>ID</td>
		<td>Name</td>
		<td>Projects</td>
		<td></td>
	</tr>
	<tr>
		<td><%= @company.id %></td>
		<td> <%=@company.name %> </td>
		<% if @company.projects.size > 0 %>
		<td><%= render partial: 'projects/project', collection: @company.projects %> </td>
		<% else %>
		<td>No Project</td>
		<% end %>
		<td>
			<%= link_to "Edit", edit_company_path %>
			<%= link_to "Delete",company_path(@company),method: :delete, data: {confirm: 'Are you sure ?'} %>
		</td>
	</tr>
</table>
<%= render 'sidebar' %>